<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="style.css">
    <title>OMAR AIT BENHADDI</title>
</head>
<body>
    
    <header>
        <a href="#" class="logo">OMAR</a>
        <nav class="navigation">
            <a href="#cursure">Cursur</a>
            <a href="#projects">Projects</a>
            <a href="#Competences">Compétence</a>
            <a href="#contacts">Contact</a>



        </nav>
    </header>


    <section class="main">
        <div>
            <h2>Hello, I'm OMAR <br><span>CS engineering student</span></h2>
            <h3>Motivé, Dynamique </h3>
            <a href="https://github.com/Omaraitbenhaddi?tab=repositories" class="main-button">mes projects</a>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/omaraitbenhaddi/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/Omaraitbenhaddi"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.youtube.com/channel/UC4UAdfFcPpUEtrnVW8QS4MA/featured"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </section>




    <section class="cursure" id="cursure">
        <h2 class="forma_title">Cursur</h2>
        <div class="container">
 
              <div class="rb-container">
                <ul class="rb">
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="timestamp">
                      2019
                    </div>
                    <div class="item-title">BAC SCIENCE MATH A</div>
          
                  </li>
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="timestamp">
                      2019-2021
                    </div>
                    <div class="item-title">Classes préparatoires aux grandes école MP</div>
          
                  </li>
          
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="timestamp">
                      2021-2024
                    </div>
                    <div class="item-title">Académie Internationale Mohammed VI de l'Aviation Civile - AIAC Génie informatique</div>
          
                  </li>

                  <li class="rb-item" ng-repeat="itembx">
                    <div class="timestamp">
                       jan 2021-aujourd'hui
                    </div>
                    <div class="item-title">Orange stage d'inovation</div>
          
                  </li>

          
                </ul>
          
              </div>

          </div>
    </section>
    




    <section class="projects" id="projects">
        <h2 class="forma_title">Projects</h2>
            <div class="content">


                


                <div class="projects_cards">
                    <div class="projects_image">
                            <img src="asstes/projects/covid.jpg"/>
                    </div>
                    <div class="project_info">
                        <div class="category"> 
                            MODÉLISATION DE COVID-19
                        </div>
                        <strong class="project_title">
                            <span class="nom projets">python-numpy-pandas</span>
                            <a href="#" class="more_detail">more details </a>
                        </strong>
                    </div>
                </div>











                <div class="projects_cards">
                    <div class="projects_image">
                            <img src="asstes/projects/quiz.PNG"/>
                    </div>
                    <div class="project_info">
                        <div class="category"> 
                            JEUX QUIZ (desktop-ios-android-web)
                                
                        </div>
                        <strong class="project_title">
                            <span class="nom projets">dart-Flutter</span>
                            <a href="#" class="more_detail">more details </a>
                        </strong>
                    </div>
                </div>


                <div class="projects_cards">
                    <div class="projects_image">
                            <img src="asstes/projects/changer.jpg"/>
                    </div>
                    <div class="project_info">
                        <div class="category"> 
                            STEGO-IMAGE GENERATOR
                        </div>
                        <strong class="project_title">
                            <span class="nom projets">python</span>
                            <a href="#" class="more_detail">more details </a>
                        </strong>
                    </div>
                </div>
            

            




                <div class="projects_cards">
                    <div class="projects_image">
                            <img src="asstes/projects/RC-car.jpg"/>
                    </div>
                    <div class="project_info">
                        <div class="category"> 
                            RC-CAR
                        </div>
                        <strong class="project_title">
                            <span class="nom projets">ARDUINO / DEV mobile</span>
                            <a href="#" class="more_detail">more details </a>
                        </strong>
                    </div>
                </div>
            



                <div class="projects_cards">
                    <div class="projects_image">
                            <img src="asstes/projects/trex.png"/>
                    </div>
                    <div class="project_info">
                        <div class="category"> 
                            T-Rex Game automatisation
                        </div>
                        <strong class="project_title">
                            <span class="nom projets">python</span>
                            <a href="#" class="more_detail">more details </a>
                        </strong>
                    </div>
                </div>






            </div>


            






    </section>













    <section class="competences" id="Competences">

        <h2 class="forma_title">Compétence</h2>

        <div class="content">

            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/python.jpg">
                </div>

                <strong class="nom_com">Python</strong>
            </div>

            <div class="content">

                <div class="projects_cards_comp">
                    <div class="projects_image">
                        <img src="asstes/tools/scikitlearn.png">
                    </div>
    
                    <strong class="nom_com">Scikit-learn</strong>
                </div>

            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/django.png">
                </div>

                <strong class="nom_com">Django</strong>
            </div>
            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/dart.jpg">
                </div>

                <strong class="nom_com">DART</strong>
            </div>

            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/flutter.png">
                </div>

                <strong class="nom_com">Flutter</strong>
            </div>

                
                <div class="projects_cards_comp">
                    <div class="projects_image">
                        <img src="asstes/tools/docker.jpg">
                    </div>
    
                    <strong class="nom_com">Docker</strong>
                </div>

            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/C.png">
                </div>

                <strong class="nom_com">C</strong>
            </div>

            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/c++.png">
                </div>

                <strong class="nom_com">C++</strong>
            </div>


           
            
            
            
            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/git_github.png">
                </div>

                <strong class="nom_com">git github</strong>
            </div>
            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/html.png">
                </div>

                <strong class="nom_com">HTMl</strong>
            </div>
            
            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/css.png">
                </div>

                <strong class="nom_com">CSS</strong>
            </div>

            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/javascript.png">
                </div>

                <strong class="nom_com">Java script</strong>
            </div>

            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/metasploit.png">
                </div>

                <strong class="nom_com">Metasploit</strong>
            </div>
            

            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/sql.png">
                </div>

                <strong class="nom_com">SQL</strong>
            </div>

            <div class="projects_cards_comp">
                <div class="projects_image">
                    <img src="asstes/tools/UML.png">
                </div>

                <strong class="nom_com">UML</strong>
            </div>


        </div>







    </section>



    <section class="projects" id="contacts">
        <h2 class="forma_title">MON EMAIL</h2>

            <div class="contact">

                <h3 class="email">omar.aitbenhaddi.aiac@gmail.com</h3>
    </section>



    <footer class="footer">
        <div>MERCI DE VOIR MON PORTFOLIO</div>

    </footer>


</body>
</html>
