

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


header{
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: red;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(asstes/back2.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: rgb(240, 240 , 242);
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 2px;
    color: rgb(240, 240 , 242);
    font-size: 2.5em;
    font-weight: 600;
}

.main h3 {
    color: rgb(240, 240 , 242);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}


.main-button{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.93em 2.18em;
    letter-spacing: 1px;
    border-radius: 20px;
    margin-bottom: 40px;
    transition: 0.7s ease;

}

.main-button:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.social-icons a {
    color: white;
    font-size: 1.7em;
    padding-right: 60px;
}








.forma_title{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 4em;
    font-weight: 800;
}

body {
    background: rgb(34, 32, 32);
}

.container {
    justify-content: center;
    background: rgb(34, 32, 32);
  width: 540px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
}


.rb-container {
  font-family: "PT Sans", sans-serif;
  width:80%;
  margin: 0;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  margin-left: 10em;
  min-height: 50px;
  border-left: 1px dashed #fff;
  padding: 0 0 50px 30px;
  position: relative;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: #50d890;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
  color: #50d890;
  position: relative;
  width: 250px;
  font-size: 22px;
}

.item-title {
  color: #fff;
}

.container-3 {
  width: 5em;
  vertical-align: right;
  white-space: nowrap;
  position: absolute;
}






.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects{
    background-color: white;
}
.projects .forma_title{
    color: #232931;
}

.projects .content{
    margin-top: 30px;

}
.projects_cards{
    background-color: #232931;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 1s ease;
}

.projects_cards:hover{
    transform: scale(1.1);
}

.projects_cards:hover .projects_image {
    opacity: 0.8;
}

.projects_image img {
    height: 10em;
    width: 23em;
}

.project_info{
    padding: 1em;

}

.category{
    font-size: 0.8em;
    color: #fff;
}

.project_title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    color: white;
}

.more_detail{
    text-decoration: none;
    color: white;
}

.more_detail:hover{
    color: #50d890;
}


.projects_cards_comp{
    background-color: #fff;
    border: 1px solid #fff;
    color: #232931;
    min-height: 14em;
    width: 17em;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 1s ease;
}
.projects_cards:hover{
    transform: scale(1.1);
}

.projects_cards_comp:hover{
    transform: scale(1.5);
}

.projects_cards_comp .projects_image img {
    width: 100%;
}


.competences .content .projects_cards{
    background-color: #fff;
}

.competences .content .projects_image img {
    height: 20em;
}

.nom_com{
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 1.3em;
}

.contact{
    justify-content: center;
}

.email{
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.footer{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10vh;
}


@media (max-width:1024px){
    *{
        overflow: auto;
    }


    header{
        padding: 12px 20px;
        font-size: 1em;
    }
    .navigation a{
        padding-left: 10px;
    }
    .main h2  span{
        font-size: 1.5em;
    }
    .forma_title{
        font-size: 1.8em;
    }
    .project_title{
        font-size: 1em;
    }
    section{
        padding: 80px 20px;
    }
    .content{
        flex-direction: row;
        align-items: center;
    }
    .rb-container ul.rb {
        margin: 1em 0;
      }
      .rb-container ul.rb li{
          margin-left: 5em;
          padding: 0 0 25px 15px;
      }
      .rb-container ul.rb li::before {
        border: 0px ;
          height: 0px;
          width: 0px;
      }

      .rb-container ul.rb li {
        border-left: 0px dashed #fff;

      }
      .projects_cards{
          width: 20em;
      }
      .projects_image img {
        height: 10em;
        width: 20em;
    }




      .projects_cards_comp{
          width: 10em;
          min-height: 3em;
      }
      .competences .content .projects_image img {
        height: 8em;
    }

    .projects_cards_comp:hover{
        transform: scale(1.1);
    }




      .email{
        font-size: 1em;
    }
    
}









@media (max-width:700px){
    *{
        overflow: auto;
    }


    header{
        padding: 8px 10px;
        font-size: 0.55em;
    }
    .navigation a{
        padding-left: 10px;
    }
    .main h2  span{
        font-size: 0.8em;
    }
    .main h3{
        font-size: 1em ;
    }
    .social-icons a{
        font-size: 1.4em;
    }
    .forma_title{
        font-size: 1.8em;
    }
    .container{
        width: 430;
    }
    .category{
        font-size: 0.7em;
    }
    .project_title{
        font-size: 0.8em;
    }
    section{
        padding: 80px 10px;
    }
    .content{
        flex-direction: row;
        align-items: center;
    }
    .rb-container{
        width: 60%;
    }
    .rb-container ul.rb {
        margin: 1em 0;
      }
      .rb-container ul.rb li{
          margin-left: 0.3em;
          padding: 0 0 25px 0px;
          font-size: 0.8em;
      }
      .rb-container ul.rb li::before {
        border: 0px ;
          height: 0px;
          width: 0px;
      }

      .rb-container ul.rb li {
        border-left: 0px dashed #fff;

      }
      .projects_cards{
          width: 20em;
      }
      .projects_image img {
        height: 10em;
        width: 20em;
    }




      .projects_cards_comp{
          width: 10em;
          min-height: 3em;
      }
      .competences .content .projects_image img {
        height: 8em;
    }

    .projects_cards_comp:hover{
        transform: scale(1.1);
    }




      .email{
        font-size: 0.7em;
    }
    
}

@media (max-width:500px){
    .footer{
        font-size: 0.6em;
    }
    .projects_cards_comp{
        width: 5em;
        margin: 10px;
    }
    
    .competences .content .projects_image img {
        height: 3em;
    }
    .nom_com{
        font-size: 0.5em;
    }
}
@media (max-width:270px){
    .footer{
        font-size: 0.4em;
    }
}